<div class="navbar">
    <h2>TODO Transactions</h2>
</div>

<div class="main-container">
    <div class="container">
        <h2>Transactions</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChange($event)">
                    <option value="" disabled>Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>

                </select>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                Total Todo for {{ selectedMonth }}: ${{ calculateTotalTodo(selectedMonth) }}

            </div>
            <div class="form-group">
                <label for="source">Todo Type:</label>

                <select formControlName="source" id="source" class="form-control"
                    [class.disabled-dropdown]="!monthSelected">

                    <option value="" disabled>Select Todo</option>
                    <option value="Salary">Salary</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Rental">Rental</option>
                </select>
            </div>
            <div class="form-group">
              
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" formControlName="amount" id="amount" class="form-control"
                    [class.disabled-input]="!monthSelected" placeholder="Enter Amount" />

            </div>
            <div class="form-group">
            </div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [class.disabled-dropdown]="!monthSelected"> Add </button>
        </form>
        <hr>
        <h3> Todo List - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Type of Todo</th>
                    <th>Amount</th>
                    <!-- <th>Todo</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of getFilteredTodo()">
                    <td>{{ todo.source }}</td>
                    <td>{{ todo.amount }}</td>
                    <!-- <td>{{ todo.investments }}</td> -->
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button class="btn btn-primary" (click)="onBack()">Back</button>
            <div class="form-group">
            </div>
            <button class="btn btn-primary" (click)="saveForm()">Save</button>
        </div>
    </div>
</div>