.navbar{
    background : linear-gradient(135deg , #000 , #333);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}
.toggle-button-row{
    position: fixed;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px;
    background: #fff;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1100;
}

.slide-out-panel{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #000000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-right-radius: 20;
    border-bottom-right-radius: 20;
    color: #fff;
}
.slide-out-panel.slide-out {
    transform: translateX(-100%);
}
.slide-out-content {
   margin-top: 80px;
   padding: 20px;
}
.edit-col {
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #201a1a;  
    margin-bottom: 10px;
}
.edit-col:hover {
    background: #3a3a3a;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #201a1a;
}