.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 1200px;
}
.card{
    position: relative;
    background-color: #201a1a;
    border-radius: 10px;
    // box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 40px);
    transition: 0.3s ease;
    max-width: 400px;

}

.card:hover{
    transform: translateX(-2px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.card-header{
     display: flex;
    align-items: center;
}
.card h2{
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.icon{
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.income-details{
    color: #fff;
}
.tododetails{
    color: #fff;
}
.tododetails li{
    list-style: none;
}
.total-item{
    border: 2px solid #444;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
button{
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #fdd0d0;
}